@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrow.woff2") format("woff2"), url("../fonts/PTSansNarrow.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrowBold.woff2") format("woff2"), url("../fonts/PTSansNarrowBold.woff") format("woff"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #242424; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  background: #242424;
  background-size: 720px auto; }

@media (min-width: 768px) {
  body {
    background: #242424;
    background-size: 1178px auto; } }

@media (min-width: 1280px) {
  body {
    background: #242424;
    background-size: 1391px auto; } }

.page-header {
  display: flex;
  flex-direction: column; }

.page-header__logo {
  height: 85px;
  text-align: center; }

.page-header__logo img {
  width: 226px;
  height: 85px; }

@media (min-width: 768px) {
  .page-header {
    background-color: #000000; }
  .page-header__logo {
    order: 2;
    height: 400px;
    width: 100%;
    background-color: #000000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -9px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-header__logo {
      background-image: url("../img/bg-header@2x.jpg");
      background-size: 1338px auto; } }

@media (min-width: 768px) {
    .page-header__logo--inner-page {
      height: 213px; }
  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px; } }

@media (min-width: 1280px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover; }
    .page-header__logo--inner-page {
      height: 306px; }
  .page-header__logo img {
    margin-top: 57px; } }

.main-nav {
  position: relative;
  width: auto;
  min-height: 51px;
  background-color: #826550; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none; }
  .main-nav__toggle:hover, .main-nav__toggle:active {
    background-color: #624530; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3); }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(-45deg); }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(45deg); }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3); }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
    .main-nav--closed .site-list__item--active {
      display: block; }
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center; }
  .main-nav--closed .user-list__item {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38; }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4); }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0; }
  .main-nav--nojs .site-list__item {
    display: block; }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left; }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38; } }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000; }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0; }
  .main-nav__toggle {
    display: none; } }

.stats {
  width: auto; }

.stats__header {
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  color: #000000;
  background-color: #ffffff; }

.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center; }

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px; }

.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #242424; }

.stats__legend--top {
  display: none; }

.stats__legend sup {
  top: -0.1em;
  font-size: 90%; }

.stats__list {
  width: 100%;
  border-collapse: collapse; }

.stats__list tr {
  color: #ffffff;
  background-color: #404040; }
  .stats__list tr:nth-child(2) {
    background-color: #4e4e4e; }
  .stats__list tr:nth-child(3) {
    background-color: #353535; }
  .stats__list tr:nth-child(4) {
    background-color: #404040; }

.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top; }

.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold; }

.stats__value sup {
  top: -0.35em;
  margin-left: 5px; }

.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right; }

@media (min-width: 768px) {
  .stats {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    margin-top: -185px; }
  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .stats__header::before {
      content: "";
      position: absolute;
      top: 27px;
      left: -15px;
      border: 15px solid transparent;
      border-bottom-color: #ffffff;
      transform: rotate(45deg); }
  .stats__slogan {
    width: 50%;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none; }
  .stats__intro {
    width: 37.5%;
    margin-top: 5px;
    padding: 0;
    padding-left: 30px;
    text-align: left; }
  .stats__legend--top {
    display: block;
    width: 50%;
    color: rgba(0, 0, 0, 0.3); }
  .stats__legend--bottom {
    display: none; }
  .stats__list tbody {
    display: flex;
    flex-wrap: wrap; }
  .stats__list tr {
    width: 50%;
    box-sizing: border-box;
    padding: 25px 35px;
    padding-bottom: 28px; }
  .stats__list td {
    display: block;
    width: auto;
    padding: 0; }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px; }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left; }
  .stats__field br {
    display: none; } }

@media (min-width: 1280px) {
  .stats {
    margin-top: -160px;
    display: flex; }
  .stats__header {
    width: 240px;
    flex-direction: column;
    flex-grow: 1; }
    .stats__header::before {
      top: 22px; }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px; }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px;
    padding-left: 0; }
  .stats__legend--top {
    width: auto;
    margin-top: auto; }
  .stats__list {
    display: flex;
    width: 640px;
    flex-grow: 1; } }

.site-list {
  font-weight: bold; }

.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f; }

.site-list a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46; }

.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38; }

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    width: 570px; }
  .site-list__item {
    margin-right: 32px; }
    .site-list__item:last-child {
      margin-right: 18px; }
    .site-list__item--active {
      position: relative; }
      .site-list__item--active::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0px;
        height: 3px;
        background: #826550; }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none; }
  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000; }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3; } }

@media (min-width: 1280px) {
  .site-list {
    width: 780px;
    justify-content: flex-start; }
  .site-list__item {
    margin-right: 0; }
    .site-list__item--active::after {
      right: 30px;
      left: 30px; }
  .site-list__item a {
    padding-left: 31px;
    padding-right: 31px; }
  .site-list__item a[href]:hover {
    color: #000000;
    background-color: #ffffff; }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1; } }

.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none; }

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3; }
  .user-list__login-icon polygon {
    fill: #ffffff; }

@media (min-width: 768px) {
  .user-list {
    width: 60px; }
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0; }
    .user-list__login:hover .user-list__login-icon {
      opacity: 1; }
      .user-list__login:hover .user-list__login-icon polygon {
        fill: #826550; }
    .user-list__login:active .user-list__login-icon {
      opacity: 0.3; }
      .user-list__login:active .user-list__login-icon polygon {
        fill: #ffffff; }
  .user-list__login-icon {
    top: 29px;
    left: 12px; } }

@media (min-width: 1280px) {
  .user-list {
    width: auto;
    max-width: 160px; }
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-bottom: 23px;
    padding-right: 30px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; }
    .user-list__login:hover {
      color: #000000;
      background-color: #ffffff; }
    .user-list__login:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff; }
    .user-list__login:hover .user-list__login-icon {
      opacity: 0.3; }
      .user-list__login:hover .user-list__login-icon polygon {
        fill: #000000; }
    .user-list__login:active .user-list__login-icon {
      opacity: 0.1; }
  .user-list__login-icon {
    left: 15px; } }

.advantages {
  position: relative; }
  .advantages::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -58px;
    height: 35px;
    background-image: url("../img/corner-dark.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg); }

.advantages__wrapper {
  position: relative;
  padding-top: 30px;
  width: auto; }

.advantages__items {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 23px;
  padding-top: 125px;
  padding-right: 43px;
  padding-left: 46px;
  padding-bottom: 29px;
  text-align: center; }
  .advantages__item--fast::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 95px;
    height: 94px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    background-image: url("../img/advantage-1-illustration.svg"); }
  .advantages__item--cool::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 95px;
    height: 94px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    background-image: url("../img/advantage-2-illustration.svg"); }
  .advantages__item--price::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 95px;
    height: 94px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    background-image: url("../img/advantage-3-illustration.svg"); }

.advantages__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #f7f4f1;
  text-transform: uppercase; }

.advantages__description {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  color: #f7f4f1; }

@media (max-width: 767px) {
  .advantages__item {
    display: none; }
  .advantages__toggles {
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 76px;
    height: 10px;
    transform: translateX(-50%); }
  #advantages-input-1:checked ~ .advantages__toggles label[for="advantages-input-1"],
  #advantages-input-2:checked ~ .advantages__toggles label[for="advantages-input-2"],
  #advantages-input-3:checked ~ .advantages__toggles label[for="advantages-input-3"] {
    background-color: #ffffff; }
  #advantages-input-1:checked ~ .advantages__items .advantages__item--fast,
  #advantages-input-2:checked ~ .advantages__items .advantages__item--cool,
  #advantages-input-3:checked ~ .advantages__items .advantages__item--price {
    display: block; } }

@media (min-width: 768px) {
  .advantages::after {
    height: 40px;
    bottom: -40px; }
  .advantages__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    padding-top: 42px;
    padding-bottom: 50px; }
  .advantages__item {
    padding: 0;
    padding-left: 130px;
    margin-top: 0;
    margin-left: 32px;
    margin-bottom: 82px;
    margin-right: 32px;
    text-align: left; }
    .advantages__item::before {
      top: 3px;
      left: 0;
      transform: none; }
    .advantages__item::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: #4a4a4a;
      left: 5px;
      right: 5px;
      bottom: -36px; }
    .advantages__item:last-child {
      margin-bottom: 0; }
    .advantages__item:last-of-type::after {
      display: none; }
  .advantages__toggles {
    display: none; } }

@media (min-width: 1280px) {
  .advantages::after {
    height: 66px;
    bottom: -66px; }
  .advantages__wrapper {
    padding-top: 80px;
    padding-bottom: 46px; }
  .advantages__items {
    display: flex;
    justify-content: space-between; }
  .advantages__item {
    display: block;
    padding-top: 126px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    width: 33%;
    text-align: center; }
    .advantages__item:nth-child(2) {
      padding-left: 60px;
      padding-right: 60px; }
    .advantages__item::before {
      left: 50%;
      transform: translateX(-50%); }
    .advantages__item::after {
      width: 1px;
      background-color: #4a4a4a;
      right: 1px;
      left: auto;
      top: 1px;
      bottom: 1px;
      height: auto; } }

.news {
  background-color: #f8f5f2;
  border-bottom: 1px solid #e5ddd5; }

.news__wrapper {
  padding-top: 70px;
  padding-bottom: 30px; }

.news__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 34px; }

.news__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.news__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  margin-bottom: 15px; }
  .news__item:nth-child(2) {
    margin-bottom: 0; }
  .news__item:nth-child(2) .news__item-wrapper {
    border-bottom: none;
    padding-bottom: 25px; }
  .news__item:nth-child(n+3) {
    display: none; }

.news__item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #e5ddd5;
  padding-bottom: 20px; }
  .news__item-wrapper:hover .news__text,
  .news__item-wrapper:focus .news__text {
    color: #826550;
    text-decoration: underline; }
  .news__item-wrapper:hover .news__date {
    background-color: #826550; }
    .news__item-wrapper:hover .news__date::after {
      border-top-color: #826550; }
  .news__item-wrapper:active .news__text {
    color: #6a4d38; }
  .news__item-wrapper:active .news__date {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a4d38; }
    .news__item-wrapper:active .news__date::after {
      border-top-color: #6a4d38; }

.news__date {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 50px;
  flex-shrink: 0;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #ffffff;
  background-color: #000000;
  margin-right: 20px;
  margin-top: 12px; }
  .news__date::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -10px;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-top-color: #000000;
    border-bottom: none;
    border-right-width: 25px;
    border-left-width: 25px; }

.news__day {
  display: block;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: -4px; }

.news__text {
  margin: 0;
  padding: 0  0; }

.news__to-all {
  margin: 0px 20px; }

@media (min-width: 768px) {
  .news__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    padding-top: 92px;
    padding-bottom: 12px; }
  .news__title {
    font-size: 40px;
    text-align: left;
    margin-bottom: 60px; }
  .news__list {
    display: flex;
    justify-content: space-between; }
  .news__item {
    padding: 0;
    margin: 0;
    flex-basis: 50%;
    padding-right: 40px; }
  .news__item-wrapper {
    border-bottom: none; }
  .news__to-all {
    position: absolute;
    right: 0;
    top: 82px;
    margin: 0; } }

@media (min-width: 1280px) {
  .news__wrapper {
    padding-top: 130px; }
  .news__to-all {
    top: 120px; }
  .news__title {
    padding-left: 72px; }
  .news__item {
    flex-basis: 33%;
    padding-right: 40px; }
    .news__item:nth-child(n+3) {
      display: flex; } }

.slider__input {
  display: none; }

.slider__toggle {
  box-sizing: border-box;
  font-size: 0;
  height: 7px;
  width: 7px;
  transform: rotate(45deg);
  cursor: pointer; }

.slider__toggle--for-light-background {
  border: 1px solid #858483; }

.slider__toggle--for-dark-background {
  border: 1px solid #f7f4f1; }

.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer; }

.button--light {
  border: 1px solid #e5ddd5;
  color: #000000;
  background-color: #f8f5f2; }
  .button--light:hover, .button--light:focus {
    border-color: #d5c9bd; }
  .button--light:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5c9bd; }

.button--footer {
  border: 1px solid #3e3e3e;
  color: #ffffff; }
  .button--footer:hover, .button--footer:focus {
    border-color: #515151; }
  .button--footer:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #252525; }

.button--brown {
  border: none;
  color: #ffffff;
  background-color: #826550;
  width: 100%; }
  .button--brown:hover, .button--brown:focus {
    background-color: #6a4d38; }
  .button--brown:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .button {
    width: 160px; }
  .button--brown {
    font-size: 24px;
    line-height: 24px;
    width: 100%;
    padding-top: 23px;
    padding-bottom: 23px; } }

.reviews {
  background-color: #f8f5f2;
  position: relative; }
  .reviews::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -35px;
    height: 35px;
    background-image: url("../img/corner-light.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg); }

.reviews__wrapper {
  padding-top: 32px; }

.reviews__write {
  display: none; }

.reviews__title {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px; }

.reviews__item {
  position: relative;
  margin: 0;
  padding-left: 90px;
  padding-right: 20px;
  padding-bottom: 56px;
  color: #000000;
  text-align: left;
  display: none; }

.reviews__text {
  margin: 0; }

.reviews__author-image {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 50px;
  height: 50px; }

.reviews__author-name {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 12px; }

.reviews__prev,
.reviews__next {
  display: none; }

.reviews__toggles {
  position: absolute;
  bottom: 28px;
  left: 50%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76px;
  height: 10px;
  transform: translateX(-50%); }

#reviews-input-1:checked ~ .reviews__toggles label[for="reviews-input-1"],
#reviews-input-2:checked ~ .reviews__toggles label[for="reviews-input-2"],
#reviews-input-3:checked ~ .reviews__toggles label[for="reviews-input-3"] {
  background-color: #353535; }

#reviews-input-1:checked ~ .reviews__list .reviews__item:nth-child(1),
#reviews-input-2:checked ~ .reviews__list .reviews__item:nth-child(2),
#reviews-input-3:checked ~ .reviews__list .reviews__item:nth-child(3) {
  display: block; }

@media (min-width: 768px) {
  .reviews::after {
    display: none; }
  .reviews__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    padding-top: 46px;
    padding-bottom: 72px; }
  .reviews__title {
    font-size: 40px;
    text-align: left;
    margin-bottom: 46px; }
  .reviews__write {
    display: block;
    position: absolute;
    right: 0;
    top: 36px;
    margin: 0; }
  .reviews__item {
    padding-left: 138px;
    padding-top: 32px;
    padding-bottom: 34px;
    padding-right: 50px;
    border-top: 1px solid #e5ddd5;
    border-bottom: 1px solid #e5ddd5;
    flex-grow: 1;
    box-sizing: border-box;
    min-height: 160px; }
  .reviews__author-image {
    top: 40px;
    left: 32px;
    width: 80px;
    height: 80px;
    border-radius: 50%; }
  .reviews__list {
    display: flex;
    justify-content: space-between; }
  .reviews__prev,
  .reviews__next {
    display: block;
    font-size: 0;
    width: 50px;
    position: relative;
    flex-shrink: 0;
    outline: none; }
    .reviews__prev::before,
    .reviews__next::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      height: 0;
      width: 0;
      border: 6px solid transparent;
      border-right: none;
      border-left: 12px solid black;
      transform: translate(-50%, -50%); }
    .reviews__prev:active::before,
    .reviews__next:active::before {
      border-left-color: rgba(0, 0, 0, 0.3); }
  .reviews__prev {
    order: -1; }
    .reviews__prev::before {
      border-left: none;
      border-right: 12px solid black; }
    .reviews__prev:active::before {
      border-right-color: rgba(0, 0, 0, 0.3); }
  .reviews__toggles {
    bottom: 68px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #f8f5f2; } }

@media (min-width: 1280px) {
  .reviews__wrapper {
    padding-bottom: 100px; }
  .reviews__item {
    border: 1px solid #e5ddd5;
    margin-left: 21px;
    margin-right: 21px;
    padding-left: 320px; }
  .reviews__author-image {
    top: 0;
    left: 0;
    width: 250px;
    height: 158px;
    border-radius: 0; }
  .reviews__toggles {
    bottom: 47px; } }

.page-footer {
  padding-top: 36px; }

.page-footer__wrapper {
  border-top: 1px solid #353535;
  padding-top: 36px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 24px; }

.page-footer__title {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 16px; }

.page-footer__text {
  text-align: center;
  line-height: 27px;
  font-size: 18px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px; }

.page-footer__copyright {
  padding-left: 20px;
  padding-right: 20px; }

@media (min-width: 768px) {
  .page-footer__wrapper {
    padding-top: 16px;
    padding-bottom: 38px;
    border: none;
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative; }
  .page-footer__text {
    padding: 0;
    text-align: left;
    margin-bottom: 40px; }
  .page-footer__title {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .page-footer__copyright {
    position: absolute;
    right: 0;
    top: 14px;
    padding-right: 0; }
  .page-footer__wrapper {
    padding-top: 18px;
    padding-bottom: 30px; } }

@media (min-width: 1280px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between; }
  .page-footer__title {
    margin-bottom: 16px; }
  .page-footer__copyright {
    position: static; }
  .page-footer__social {
    margin-right: 130px; } }

.social__title {
  display: none; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 28px; }

.social__item {
  flex-grow: 1;
  height: 100px;
  border: 1px solid #3e3e3e;
  display: block; }

.social__link {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center; }
  .social__link--vkontakte {
    background-image: url(../img/vk-big.png); }
  .social__link--facebook {
    background-image: url(../img/fb-big.png); }
  .social__link--instagram {
    background-image: url(../img/ig-big.png); }

@media (min-width: 1280px) {
  .social__title {
    display: block;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px; }
  .social__item {
    height: 48px;
    width: 48px;
    flex-grow: 0;
    margin-right: 6px; }
    .social__item:nth-child(3) {
      margin-right: 0; }
  .social__link {
    height: 48px;
    width: 48px; }
    .social__link--vkontakte {
      background-image: url(../img/vk-small.png); }
    .social__link--facebook {
      background-image: url(../img/fb-small.png); }
    .social__link--instagram {
      background-image: url(../img/ig-small.png); } }

.copyright__text {
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
  line-height: 18px; }

@media (min-width: 768px) {
  .copyright__text {
    margin-bottom: 18px; } }

@media (min-width: 1280px) {
  .copyright__text {
    margin-bottom: 15px; } }

.contacts__phone {
  margin-top: 18px;
  margin-bottom: 26px; }

.contacts__phone-mobile {
  display: none; }

@media (min-width: 768px) {
  .contacts__phone-mobile {
    display: inline-block;
    text-transform: none; }
  .contacts__phone {
    border: none;
    margin: 0;
    width: 200px;
    text-align: left;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 52px; } }

@media (min-width: 768px) {
  .contacts__phone {
    padding-bottom: 0; } }

.works {
  background-color: #f8f5f2;
  color: black;
  position: relative; }
  .works::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -35px;
    height: 35px;
    background-image: url("../img/corner-light.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    fill: #f8f5f2;
    z-index: 10; }

.works__wrapper {
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 36px;
  position: relative; }

.works__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px; }

.works__return-to-main {
  display: none; }

@media (min-width: 768px) {
  .works {
    position: relative; }
    .works::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: -42px;
      height: 42px;
      background-position: center;
      background-image: url("../img/corner-double.svg"); }
    .works::after {
      bottom: -42px;
      height: 42px; }
  .works__title {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 48px; }
  .works__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 62px; }
  .works__return-to-main {
    display: block;
    position: absolute;
    top: 55px;
    right: 0; } }

@media (min-width: 1280px) {
  .works::before {
    top: -67px;
    height: 67px; }
  .works::after {
    display: none; }
  .works__title {
    margin-bottom: 82px; }
  .works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .works__wrapper {
    padding-bottom: 88px; } }

.works-item {
  margin-bottom: 20px; }
  .works-item:last-child {
    margin-bottom: 0; }

.works-item--work-of-month .works-item__image-wrapper {
  height: 480px; }

.works-item__image-wrapper {
  text-align: center;
  height: 176px;
  background-color: #e6ded6;
  overflow: hidden;
  margin: 0;
  line-height: 0; }

.works-item__image {
  max-width: 100%;
  height: auto; }

.works-item--work-of-month {
  position: relative; }
  .works-item--work-of-month::before {
    position: absolute;
    content: "Работа месяца";
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 24px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 168px;
    top: 400px;
    left: 0;
    box-sizing: border-box;
    background-color: #826550;
    z-index: 2; }
  .works-item--work-of-month::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: 25px solid #826550;
    border-left: none;
    border-right: 8px solid transparent;
    top: 400px;
    left: 168px; }

.works-item__review {
  padding: 20px;
  border: 1px solid #e5ddd5;
  border-top: none; }

.works-item__review-title {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 12px; }

.works-item__blockquote {
  margin: 0;
  margin-bottom: 16px; }

.works-item__parameter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.works-item__parameter-item {
  position: relative;
  padding-left: 40px;
  margin-right: 25px;
  font-size: 16px;
  text-transform: uppercase; }
  .works-item__parameter-item:last-child {
    margin-right: 0; }
  .works-item__parameter-item::before {
    content: "";
    top: 50%;
    left: 0;
    position: absolute;
    height: 21px;
    width: 45px;
    transform: translate(-30%, -50%);
    background-repeat: no-repeat;
    background-position: center; }

.works-item__parameter-item--haircut::before {
  background-image: url(../img/scissors-icon.svg); }

.works-item__parameter-item--shaving::before {
  background-image: url(../img/beard-icon.svg); }

.works-item__parameter-item--mustache {
  padding-left: 50px; }
  .works-item__parameter-item--mustache::before {
    background-image: url(../img/mustache-icon.svg);
    transform: translate(-20%, -50%); }

@media (min-width: 768px) {
  .works-item {
    display: flex;
    margin-bottom: 42px; }
  .works-item__image-wrapper {
    height: auto;
    width: 270px;
    flex-shrink: 0; }
  .works-item--work-of-month::before {
    top: 35px; }
  .works-item--work-of-month::after {
    top: 35px; }
  .works-item__review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 46px;
    padding-bottom: 30px;
    border: 1px solid #e5ddd5;
    border-left: none;
    flex-grow: 1; }
  .works-item__review-title {
    margin-bottom: 28px; } }

@media (min-width: 1280px) {
  .works-item--work-of-month .works-item__image-wrapper {
    width: 480px; }
  .works-item--work-of-month .works-item__review {
    padding-left: 35px;
    padding-right: 135px;
    padding-top: 132px;
    padding-bottom: 28px; }
  .works-item--work-of-month {
    flex-grow: 1; }
    .works-item--work-of-month::before {
      top: 25px;
      right: 0;
      left: auto; }
    .works-item--work-of-month::after {
      top: 25px;
      left: auto;
      right: 168px;
      border-right: none;
      border-left: 8px solid transparent; }
  .works-item__review {
    border-left: 1px solid #e5ddd5;
    border-top: none;
    padding: 32px; }
  .works-item:not(.works-item--work-of-month) {
    display: flex;
    flex-direction: column;
    max-width: 292px;
    flex-grow: 1;
    margin-bottom: 0; }
  .works-item__image-wrapper {
    width: auto; } }

.price {
  background-color: #353535;
  position: relative; }
  .price::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -35px;
    height: 35px;
    background-image: url("../img/corner-photo.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg); }

.price__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  padding-bottom: 20px; }

.price__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 22px; }

.price__table {
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
  margin-bottom: 28px; }

.price__service-name {
  font-weight: bold; }

.price__discount {
  font-size: 20px;
  border: 1px solid #484848;
  height: 90px;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 30px;
  position: relative; }
  .price__discount::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 15px;
    left: 15px;
    background-image: url(../img/clock-illustration.svg); }
  .price__discount span {
    flex-shrink: 1; }

@media (max-width: 767px) {
  .price__table tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .price__description {
    order: 4;
    width: 120%; }
  .price__description span::before {
    content: "("; }
  .price__description span::after {
    content: ")"; }
  .price__row-number {
    display: none; } }

@media (min-width: 768px) {
  .price__table {
    border-collapse: collapse;
    margin-bottom: 9px; }
    .price__table td {
      border: 1px solid #484848;
      padding: 14px 18px; }
  .price::after {
    display: none; }
  .price__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 58px; }
  .price__title {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 50px; }
  .price__row-number {
    text-align: center;
    width: 11.5%;
    color: #727272; }
  .price__service-name {
    text-align: left;
    width: 39.5%; }
  .price__description {
    text-align: center;
    width: 25%; }
  .price__value {
    text-align: left;
    width: 25%; }
  .price__discount {
    font-size: 30px;
    font-weight: bold;
    height: 112px;
    margin: 0;
    text-transform: uppercase;
    padding-left: 100px;
    padding-right: 30px; }
    .price__discount::before {
      width: 72px;
      height: 72px;
      top: 20px;
      left: 26px; } }

@media (min-width: 1280px) {
  .price__wrapper {
    padding-top: 78px;
    padding-bottom: 82px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .price__title {
    margin-bottom: 52px;
    width: 100%; }
  .price__table {
    width: 68%;
    margin: 0; }
  .price__description {
    width: 28%; }
  .price__value {
    width: 22%; }
  .price__discount {
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
    box-sizing: border-box;
    height: 274px;
    max-width: 270px;
    margin: 0;
    padding: 20px 72px;
    align-items: flex-end; }
    .price__discount::before {
      width: 144px;
      height: 144px;
      top: 30px;
      left: 64px; } }

.form {
  background-color: #f8f5f2;
  color: #000000;
  position: relative; }
  .form::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -35px;
    height: 35px;
    background-image: url("../img/corner-light.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    fill: #f8f5f2;
    z-index: 10; }

.form__wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px; }

.form__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 28px; }

.form__text-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px; }

.form__text {
  margin-bottom: 10px;
  border-radius: 0;
  padding: 14px 18px;
  border: 1px solid #e5ddd5;
  resize: none; }
  .form__text:hover {
    border-color: #d5c9bd;
    outline: none; }
  .form__text:active, .form__text:focus {
    outline: none;
    border-color: #999999; }
  .form__text:last-child {
    margin-bottom: 0; }
  .form__text::-moz-placeholder {
    color: #000000; }
  .form__text:-ms-input-placeholder {
    color: #000000; }
  .form__text::placeholder {
    color: #000000; }

.form__text--patronymic,
.form__text--email {
  margin-bottom: 32px; }

.form__beard-models {
  border: none;
  padding: 0;
  margin-bottom: 14px; }

.form__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 46px; }

.form__radio-button {
  padding-top: 60px; }

.form__radio-buttons-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .form__radio-buttons-list input {
    display: none; }

.form__beard-model {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  padding-right: 12px;
  padding-left: 12px;
  text-align: center; }

.form__add-services {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px; }
  .form__add-services input {
    display: none; }

.form__checkbox {
  padding-left: 60px;
  line-height: 36px;
  margin-bottom: 20px; }
  .form__checkbox:last-child {
    margin-bottom: 0; }

.form__return-to-main {
  display: none; }

@media (min-width: 768px) {
  .form {
    padding-bottom: 76px; }
    .form::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: -42px;
      height: 42px;
      background-position: center;
      background-image: url("../img/corner-double.svg"); }
    .form::after {
      display: none; }
  .form__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    padding-top: 56px;
    position: relative; }
  .form__return-to-main {
    display: block;
    position: absolute;
    top: 51px;
    right: 0; }
  .form__title {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 72px; }
  .form__text-fields {
    flex-wrap: wrap;
    flex-direction: row; }
  .form__text {
    box-sizing: border-box;
    width: 33.33%;
    margin-bottom: 35px;
    padding: 20px 25px; }
    .form__text:nth-child(n+4) {
      width: 100%; }
    .form__text::-moz-placeholder {
      font-size: 24px;
      line-height: 27px; }
    .form__text:-ms-input-placeholder {
      font-size: 24px;
      line-height: 27px; }
    .form__text::placeholder {
      font-size: 24px;
      line-height: 27px; }
  .form__beard-models,
  .form__add-services {
    border-top: 1px solid #e5ddd5; }
  .form__subtitle {
    font-size: 30px;
    line-height: 30px;
    padding-left: 22px;
    padding-right: 22px; }
  .form__radio-button {
    font-size: 24px;
    line-height: 24px;
    padding-top: 80px;
    margin-bottom: 34px; }
  .form__beard-model {
    margin-bottom: 40px; }
  .form__add-services {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    .form__add-services .form__subtitle {
      margin-bottom: 68px; }
  .form__checkbox {
    box-sizing: border-box;
    width: 49.7%;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 46px; } }

@media (min-width: 1280px) {
  .form {
    padding-bottom: 88px; }
    .form::before {
      top: -65px;
      height: 65px; }
  .form__wrapper {
    padding-top: 60px; }
  .form__return-to-main {
    top: 55px; }
  .form__text-fields {
    justify-content: space-between;
    margin-bottom: 70px; }
  .form__text {
    width: 30.7%;
    margin-bottom: 35px;
    padding: 20px 25px; }
    .form__text:nth-child(2), .form__text:nth-child(3) {
      border-left: 1px solid #e5ddd5; }
    .form__text:nth-child(4), .form__text:nth-child(5) {
      width: 48%; }
    .form__text::-moz-placeholder {
      font-size: 24px;
      line-height: 27px; }
    .form__text:-ms-input-placeholder {
      font-size: 24px;
      line-height: 27px; }
    .form__text::placeholder {
      font-size: 24px;
      line-height: 27px; }
  .form__subtitle {
    margin-bottom: 50px; }
  .form__beard-model {
    margin-bottom: 45px; }
  .form__checkbox {
    width: 33.33%; }
  .form__add-services {
    margin-bottom: 34px; } }

.radio-button {
  position: relative; }
  .radio-button::before {
    position: absolute;
    content: "";
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e5ddd5;
    background-color: #ffffff; }
  .radio-button:hover::before {
    border-color: #d5c9be; }
  .radio-button:active::before {
    background-color: #d5c9bd; }

#beard-model-1:checked ~ .radio-button[for="beard-model-1"]::after,
#beard-model-2:checked ~ .radio-button[for="beard-model-2"]::after,
#beard-model-3:checked ~ .radio-button[for="beard-model-3"]::after,
#beard-model-4:checked ~ .radio-button[for="beard-model-4"]::after,
#beard-model-5:checked ~ .radio-button[for="beard-model-5"]::after {
  position: absolute;
  content: "";
  top: 16px;
  transform: translateX(-50%);
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #e5ddd5;
  background-color: #ffffff;
  z-index: 5; }

#beard-model-1:checked ~ .radio-button[for="beard-model-1"]:hover::after,
#beard-model-2:checked ~ .radio-button[for="beard-model-2"]:hover::after,
#beard-model-3:checked ~ .radio-button[for="beard-model-3"]:hover::after,
#beard-model-4:checked ~ .radio-button[for="beard-model-4"]:hover::after,
#beard-model-5:checked ~ .radio-button[for="beard-model-5"]:hover::after {
  border-color: #d5c9be; }

.checkbox {
  position: relative; }
  .checkbox::before {
    position: absolute;
    content: "";
    text-align: center;
    font-size: 35px;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border: 1px solid #e5ddd5;
    background-color: #ffffff; }
  .checkbox:hover::before {
    border-color: #d5c9be; }
  .checkbox:active::before {
    background-color: #d5c9bd; }

#paint-beard:checked ~ .checkbox[for="paint-beard"]::before,
#twist-mustache:checked ~ .checkbox[for="twist-mustache"]::before,
#comb-beard:checked ~ .checkbox[for="comb-beard"]::before,
#trim-the-temple:checked ~ .checkbox[for="trim-the-temple"]::before,
#remove-gray-hair:checked ~ .checkbox[for="remove-gray-hair"]::before,
#polish-the-bald:checked ~ .checkbox[for="polish-the-bald"]::before,
#remember-me:checked ~ .checkbox[for="remember-me"]::before {
  content: "\2713"; }

.login-form {
  position: fixed;
  top: 85px;
  left: 50%;
  display: none;
  width: 300px;
  margin-left: -150px;
  background-color: #f8f5f2;
  color: #000000;
  box-shadow: 0 30px 70px 10px rgba(0, 0, 0, 0.9);
  z-index: 10; }

.login-form__wrapper {
  padding: 30px;
  position: relative; }

.login-form--opened {
  display: block; }

.login-form__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px; }

.login-form__description {
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 18px; }

.login-form__close {
  font-size: 0;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-color: transparent;
  border: none; }
  .login-form__close::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 2px;
    top: 12px;
    right: -4px;
    transform: rotate(45deg);
    background-color: black; }
  .login-form__close:hover::after, .login-form__close:focus::after, .login-form__close:focus::after, .login-form__close:hover::before {
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.9); }
  .login-form__close::after {
    content: "";
    position: absolute;
    width: 34px;
    height: 2px;
    top: 12px;
    right: -4px;
    transform: rotate(-45deg);
    background-color: black; }

.login-form input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e5ddd5;
  padding: 20px 20px; }
  .login-form input:hover {
    border-color: #d5c9bd;
    outline: none; }
  .login-form input:active, .login-form input:focus {
    outline: none;
    border-color: #999999; }
  .login-form input::-moz-placeholder {
    color: #000000; }
  .login-form input:-ms-input-placeholder {
    color: #000000; }
  .login-form input::placeholder {
    color: #000000; }

.login-form__login-input,
.login-form__password-input {
  margin: 0;
  margin-bottom: 15px; }

.login-form__help {
  margin: 0;
  padding: 0;
  font-size: 36px; }
  .login-form__help label {
    font-size: 18px;
    line-height: 36px;
    padding-left: 50px;
    display: block;
    margin-bottom: 15px; }
  .login-form__help input {
    display: none; }
  .login-form__help a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 15px;
    display: block;
    cursor: pointer; }
    .login-form__help a:focus, .login-form__help a:hover {
      text-decoration: underline;
      color: #896d5a; }
    .login-form__help a:active {
      color: #725743; }

@media (min-width: 768px) {
  @-webkit-keyframes bounce {
    0% {
      transform: translateY(-2000px); }
    70% {
      transform: translateY(30px); }
    90% {
      transform: translateY(-10px); }
    100% {
      transform: translateY(0); } }
  @keyframes bounce {
    0% {
      transform: translateY(-2000px); }
    70% {
      transform: translateY(30px); }
    90% {
      transform: translateY(-10px); }
    100% {
      transform: translateY(0); } }
  .login-form--opened {
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; }
  .login-form {
    width: 460px;
    margin-left: -230px; }
  .login-form__title {
    font-size: 40px; }
  .login-form__wrapper {
    padding: 40px; }
  .login-form input::-moz-placeholder {
    font-size: 24px;
    line-height: 27px; }
  .login-form input:-ms-input-placeholder {
    font-size: 24px;
    line-height: 27px; }
  .login-form input::placeholder {
    font-size: 24px;
    line-height: 27px; }
  .login-form__help {
    display: flex;
    justify-content: space-between; }
    .login-form__help a {
      display: block;
      line-height: 34px;
      margin-bottom: 15px; } }
