.button {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;  
    
}

.button--light {
    border: 1px solid #e5ddd5;
    color: #000000;
    background-color: #f8f5f2;

    &:hover,
    &:focus {
        border-color: #d5c9bd;
    }

    &:active {
        color: rgba(0, 0, 0, 0.3);
        background-color: #d5c9bd;
    }
}

.button--footer {
    border: 1px solid #3e3e3e;
    color: #ffffff;
   

    &:hover,
    &:focus {
        border-color: #515151;
    }

    &:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #252525;
    }
}

.button--brown {
    border: none;
    color: #ffffff;
    background-color: #826550;
    width: 100%;

    &:hover,
    &:focus {
        border-color: #d5c9bd;
    }

    &:active {
        color: rgba(0, 0, 0, 0.3);
        background-color: #d5c9bd;
    }
}

@media (min-width: $tablet-width) {
    .button {
      width: 160px;
    }

    .button--brown {
        font-size: 24px;
        line-height: 24px;
        width: 100%;
        padding-top: 23px;
        padding-bottom: 23px;
    }
}