.price {
    background-color: #353535;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: -35px;
        height: 35px;
        background-image: url("../img/corner-photo.svg");
        background-repeat: no-repeat;
        transform: rotate(180deg);
    }
}


.price__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.price__title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 22px;
}

.price__table {
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    margin-bottom: 28px;
}

.price__service-name {
    font-weight: bold;
}

.price__discount {
    font-size: 20px;
    border: 1px solid #484848;
    height: 90px;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 30px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        top: 15px;
        left: 15px;
        background-image: url(../img/clock-illustration.svg);

    }

    & span {
        flex-shrink: 1;
    }
}

@media (max-width: $mobile-width-only) {

    .price__table tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .price__description {
        order: 4;
        width: 120%;
    }

    .price__description span {

        &::before {
            content: "(";
        }

        &::after {
            content: ")";
        }
    }

    .price__row-number {
        display: none;
    }

}

@media (min-width: $tablet-width) {
    .price__table {

        border-collapse: collapse;
        margin-bottom: 9px;

        & td {
            border: 1px solid #484848;
            padding: 14px 18px;
        }
    }

    .price {

        &::after {
            display: none;
        }
    }

    .price__wrapper {
        @include tablet-wrapper-base();
        padding-top: 80px;
        padding-bottom: 58px;
    }

    .price__title {
        font-size: 40px;
        line-height: 40px;
        text-align: left;
        margin-bottom: 50px;
    }

    .price__row-number {
        text-align: center;
        width: 11.5%;
        color: #727272;
    }

    .price__service-name {
        text-align: left;
        width: 39.5%;
    }

    .price__description {
        text-align: center;
        width: 25%;
    }

    .price__value {
        text-align: left;
        width: 25%;
    }

    .price__discount {
        font-size: 30px;
        font-weight: bold; 
        height: 112px;
        margin: 0;
        text-transform: uppercase;
        padding-left: 100px;
        padding-right: 30px;
    
        &::before {
            width: 72px;
            height: 72px;
            top: 20px;
            left: 26px;
        }
    }
}

@media (min-width: $desktop-width) {
    .price__wrapper {
        padding-top: 78px;
        padding-bottom: 82px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .price__title {
        margin-bottom: 52px;
        width: 100%;

    }

    .price__table {
        width: 68%;
        margin: 0;
    }

    .price__description {
        width: 28%; //В принципе можно было и 25/25%, но так ближе к макету десктопа
    }

    .price__value {
        width: 22%;
    }

    .price__discount {
        font-size: 20px;
        font-weight: normal; 
        text-transform: none;
        box-sizing: border-box;
        height: 274px;
        max-width: 270px;
        margin: 0;
        padding: 20px 72px;
        align-items: flex-end;
        &::before {
            width: 144px;
            height: 144px;
            top: 30px;
            left: 64px;
        }
    }
}