.slider__input {
    display: none;
}

.slider__toggle {
    box-sizing: border-box;
    font-size: 0;
    height: 7px;
    width: 7px;
    transform: rotate(45deg); 
    cursor: pointer; 
}

.slider__toggle--for-light-background {
    border: 1px solid #858483;
}

.slider__toggle--for-dark-background {
    border: 1px solid #f7f4f1;
}