.social__title {
    display: none;
}

.social__list {
    @include reset-list();
    font-size: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 28px;
}

.social__item {
    flex-grow: 1;
    height: 100px;
    border: 1px solid #3e3e3e;
    display: block;
}

.social__link {
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;

    &--vkontakte {
        background-image: url(../img/vk-big.png);
    }

    &--facebook {
        background-image: url(../img/fb-big.png);
    }

    &--instagram {
        background-image: url(../img/ig-big.png);
    }
}

@media (min-width: $desktop-width) {
    .social__title {
        display: block;
        font-size: 18px;
        font-weight: normal;
        line-height: 18px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 15px;
    }
    
    .social__item {
        height: 48px;
        width: 48px;
        flex-grow: 0;
        margin-right: 6px;

        &:nth-child(3) {
            margin-right: 0;
        }
    }
    .social__link {
        height: 48px;
        width: 48px;
    
        &--vkontakte {
            background-image: url(../img/vk-small.png);
        }
    
        &--facebook {
            background-image: url(../img/fb-small.png);
        }
    
        &--instagram {
            background-image: url(../img/ig-small.png);
        }
    }
}