.works {
    background-color: $bg-lightgray;
    color: black;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: -35px;
        height: 35px;
        background-image: url("../img/corner-light.svg");
        background-repeat: no-repeat;
        transform: rotate(180deg);
        fill: $bg-lightgray;
        z-index: 10;
    }
}

.works__wrapper {
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 36px;
    position: relative;
}

.works__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 32px;
}

.works__return-to-main {
    display: none;
}

@media (min-width: $tablet-width) {
    .works {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: -42px;
            height: 42px;
            background-position: center;
            background-image: url("../img/corner-double.svg");
        }

        &::after {
            bottom: -42px;
            height: 42px;
        }
    }

    .works__title {
        font-size: 40px;
        line-height: 40px;
        text-align: left;
        margin-bottom: 48px;
    }

    .works__wrapper {
        @include tablet-wrapper-base();
        padding-top: 60px;
        padding-bottom: 62px;
    }
    
    .works__return-to-main {
        display: block;
        position: absolute;
        top: 55px;
        right: 0;
    }
}

@media (min-width: $desktop-width) {
    .works {

        &::before {
            top: -67px;
            height: 67px;
        }

        &::after {
            display: none;
        }
    }    

    .works__title {
        margin-bottom: 82px;

    }

    .works__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .works__wrapper {
        padding-bottom: 88px;
    }
}