.works-item {
    margin-bottom: 20px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.works-item--work-of-month .works-item__image-wrapper {
    height: 480px;
}

.works-item__image-wrapper {
    text-align: center;
    height: 176px;
    background-color: #e6ded6;
    overflow: hidden;
    margin: 0;
    line-height: 0;
}

.works-item__image {
    max-width: 100%;
    height: auto;
}

.works-item--work-of-month .works-item__image-wrapper {
    position: relative;
    &::before {
        position: absolute;
        content: "Работа месяца";
        text-transform: uppercase;
        font-size: 20px;
        line-height: 20px; 
        font-weight: bold;
        color: #ffffff;
        padding-left: 24px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 168px;
        bottom: 29px;
        left: 0;
        box-sizing: border-box;
        background-color: #826550;
        z-index: 2; //и без него работает, но лучше подстраховаться
    }

    &::after {
        position: absolute;
        content: "";
        height: 0;
        width: 0;
        border: 25px solid #826550;
        border-left: none;
        border-right: 8px solid transparent;
        bottom: 29px;
        left: 168px;
    }
}


.works-item__review {
    padding: 20px;
    border: 1px solid #e5ddd5;
    border-top: none;
}

.works-item__review-title {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 12px;
}

.works-item__blockquote {
    margin: 0;
    margin-bottom: 16px;
}

.works-item__parameter-list {
    @include reset-list();
    display: flex;
    flex-wrap: wrap;
}

.works-item__parameter-item {
    position: relative;
    padding-left: 40px;
    margin-right: 25px;
    font-size: 16px;
    text-transform: uppercase;
    
    &::before {
        content: "";
        top: 50%;
        left: 0;
        position: absolute;
        height: 21px;
        width: 45px;
        transform: translate(-30%, -50%);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.works-item__parameter-item--haircut::before {
    background-image: url(../img/scissors-icon.svg);
}

.works-item__parameter-item--shaving::before {
    background-image: url(../img/beard-icon.svg);
}

.works-item__parameter-item--mustache {
    padding-left: 50px;

    &::before {
        background-image: url(../img/mustache-icon.svg);
        transform: translate(-20%, -50%);
    }
}

@media (min-width: $tablet-width) {
    .works-item {
    display: flex;
    margin-bottom: 42px;
    }

    .works-item__image-wrapper {
        height: auto;
        width: 270px;
        flex-shrink: 0;
    }
    
    .works-item--work-of-month .works-item__image-wrapper {
        
        &::before {
            bottom: 394px;
        }
        &::after {
            bottom: 394px;
        }
    }
 
    .works-item__review {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 46px;
        padding-bottom: 30px;
        border: 1px solid #e5ddd5;
        border-left: none;
        flex-grow: 1;
    }
}